<div class="home-container">
  <div class="home-container__title_img.">
    <div class="home-container__title_img--title">
      <h1>Welcome to Battleships!</h1>
    </div>
    <div class="home-container__title_img--img">
    </div>
  </div>
  <div class="home-container__button">
  <%= link_to "Start game", game_setup_url  %>
  </div>
</div>




