.game-container {
  display: flex;
  flex-direction: row;
}

.ships {
  display: flex;
  flex-direction: column;
  width: 100%;

  .cell {
    width: 1em;
    height: 1em;

    &__hit, &__sunk {
      border-radius: 100%;
      width: 0em;
      height: 0em;
      border: solid 0.3em red;
    }
  }
}

.ship {
  margin-bottom: 1em;
}

.grids {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}

.grid {
  border: 1px solid grey;
  margin: 1em;
}

.cell {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &--ship {
    background-color: darkgray !important;
  }

  &--sunk {
    background-color: lightcoral !important;
  }

  &--hit {
    background: url(/hit.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &__sunk {
    border-radius: 100%;
    width: 0em;
    height: 0em;
    border: solid 0.6em red;
  }

  &__hit {
    // border-radius: 100%;
    // width: 0em;
    // height: 0em;
    // border: solid 0.6em red;
  }

  &__miss {
    border-radius: 100%;
    width: 1em;
    height: 1em;
    border: solid 1px blue;
  }

  &--fireable {
    &:hover {
      cursor: url(/cursor.png), auto;

      $target-border: 2px solid red;

      &:before {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: -10px;
        left: -10px;
        border-top: $target-border;
        border-left: $target-border;
        z-index: 1;
      }

      &:after {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-top: $target-border;
        border-right: $target-border;
        z-index: 1;
      }

      .cell--fire {
        &:before {
          display: block;
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: -10px;
          left: -10px;
          border-bottom: $target-border;
          border-left: $target-border;
          z-index: 1;
        }
        &:after {
          display: block;
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: -10px;
          right: -10px;
          border-bottom: $target-border;
          border-right: $target-border;
          z-index: 1;
        }
      }
    }
  }
}

.next-turn {
  align-items: center;
  justify-content: center;
  display: flex;
}

.player-container {
  text-align: center;
}

.the-beach {
  background-image: url(the-beach.png);
  width: 200px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
