.grid {
  display: flex;
  flex-direction: column;
 
}

.row {
  display: flex;
  flex-direction: row
}

.grid--setup {
  text-align: center;
  .cell {
    height: 5em;
    width: 5em;
  }
}

.cell {
  height: 3em;
  width: 3em;
  background-color:rgb(0, 195, 255);
  
  select {
    width: 100%;
    font-size: 30px
  }
}

.pickship {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 50px;
  
}

.shipname {
  font-family: 'Courier New', Courier, monospace;

}

.shipsize{
  color: red;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 0;
  margin-left: 0
}

.ship {
  display: flex;
  .shipsize {
      padding-left: 35px;
  }
}

.confirm{
  text-align: center;

}
.button {
  background-color:red;
  border-radius: 25px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-right: 75px

}

.feelinglucky{
  text-align: center;
  padding-top: 30px;
  font-family: 'Poppins', sans-serif;
  color: red;
  font-size: 30px
}